<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>  <html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>  <html class="ie8" lang="en">    <![endif]-->
  <head>
    <!-- head -->
    {{ partial "head.html" . }}
    <!-- /head -->
  </head>

  <body>

    <!-- loader -->
    <div id="loader-wrapper">
      {{ partial "loader.html" . }}
    </div>
    <!-- /loader -->

    <!-- sub-top -->
    <div id="sub-top-light">
      <div class="container">
        <div class="top-contacts">
          {{ partial "top.html" . }}
        </div>
      </div>
     </div>
    <!-- /sub-top -->

  </body>
</html>
