@import 'style';

$rb-gold: #A99977;
$rb-blue: #A99977;
$rb-white: #fff;

.hp-section-title {
}

.hp-section-description {
  font-family: $font-accident-two;
  font-style: oblique;
}

.hp-team {
  ul.social-buttons {
    margin-bottom: 0;
  }

  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    /*background-color: $rb-gold;*/
  }
}


.hp-customers {
  background-color: #fff;
  .client {
    h4 {font-family: $font-accident-one-light}
  }
}
