@import 'style';

$rb-gold: #A99977;
$rb-blue: #A99977;
$rb-white: #fff;

.hp-section-title {
}

.hp-section-description {
  font-family: $font-accident-two;
  font-style: oblique;
}

.hp-team {
  ul.social-buttons {
    margin-bottom: 0;
  }

  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    /*background-color: $rb-gold;*/
  }
}


.hp-customers {
  background-color: #fff;
  .client {
    h4 {font-family: $font-accident-one-light}
  }
}

.section-blog {
  @include clearfix;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 120px;
    left: 0;
    background-color: $bg-light;
    background: url("../img/sections/blog.jpg") no-repeat top center;
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }
}

.section-contact {
  @include clearfix;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $bg-light;
    background: url("../img/sections/contact.png") no-repeat center center;
    /*background-size: cover;*/
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }
}

.section-404 {
  @include clearfix;
  overflow: hidden; // added for pseudo-element
  position: relative; // added for pseudo-element
  &::before {
    content: ' ';
    position: fixed; // instead of background-attachment
    width: 100%;
    height: 100%;
    top: 120px;
    left: 0;
    background-color: $bg-light;
    background: url("../img/sections/404.jpg") no-repeat top center;
    background-size: cover;
    will-change: transform; // creates a new paint layer
    z-index: -1;
  }
}

/* Influences the Section behavior */
#header-wrapper-mp #page-title {
  height: 500px;
  width: 100%;
  padding: 80px 0 70px 0; }
#header-wrapper-mp #page-title .page-title-details {
  top: 25%;
  position: relative; }
#header-wrapper-mp #page-title .page-title-details h1 {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 66px; }
#header-wrapper-mp #page-title .page-title-details ul {
  padding: 2px 12px 2px 12px;
  display: inline-block;
  margin: 0 auto;
  min-width: 30%;
  background: rgba(255, 255, 255, 0.4); }
#header-wrapper-mp #page-title .page-title-details ul li {
  display: inline-block;
  margin-right: 8px;
  border: none;
  font-family: 'Georgia', serif;
  font-style: italic;
  color: #333; }
#header-wrapper-mp #page-title .page-title-details ul li:last-child {
  margin-right: 0; }
#header-wrapper-mp #page-title .page-title-details ul li > a {
  font-family: 'Georgia', serif;
  font-style: italic;
  text-decoration: underline;
  color: #333; }
#header-wrapper-mp #page-title .page-title-details ul li > a:hover {
  color: #de3627; }
/* --- */



#contact {
    background-color: $bg-medium;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

#contact .hp-section-title,
#contact .hp-section-description {
    color: #fff;
}

#contact .form-group {
    margin-bottom: 25px;
}

#contact .form-group input,
#contact .form-group textarea {
    padding: 20px;
}

#contact .form-group input.form-control {
    height: auto;
}

#contact .form-group textarea.form-control {
    height: 236px;
}

#contact .form-control:focus {
    border-color: #A99977;
    box-shadow: none;
}

#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

#contact:-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

#contact::-moz-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}

#contact .text-danger {
    color: #e74c3c;
}
